@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

input {
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}

.reveal-from-right:hover {
    transform: translateX(0px);
    transition: 0.25s 0s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.reveal-from-right {
    transform: translateX(60px);
    transition: 0.25s 0s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

select {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
}

button {
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    transform: scale(1.05);
    transition: all;
    background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}
